<div class="amber" data-category="{{ product.categories[0] }}" style="margin-bottom:2.2em">
  <div class="row">
    <div class="small-12 medium-6 columns">
      {% for cloudinary_id in product.cloudinary_ids %}

        {% if forloop.index0 == 0 %}
          <figure onclick="$('#large-{{ cloudinary_id | slugify }}')[0].open = true">
            <img src="{{ cloudinary_id | cloudinary_url:'a_exif,c_limit,h_4000,q_75,w_2048' }}" class="product-image" alt="" loading="lazy">
          </figure>
        {% else %}
          <figure onclick="$('#large-{{ cloudinary_id | slugify }}')[0].open = true" class="product-thumbnail"><img src="{{ cloudinary_id | cloudinary_url:'a_exif,c_fill,h_200,q_75,w_200' }}" class="product-image" loading="lazy" /></figure>
        {% endif %}

        <sl-dialog id="large-{{ cloudinary_id | slugify }}" style="--width: 100%; --sl-panel-background-color: transparent; --header-spacing: 0" onclick="this.open = false">
          <figure class="text-center">
            <img src="{{ cloudinary_id | cloudinary_url:'a_exif,c_limit,h_4000,q_75,w_2048' }}" class="product-image" alt="" loading="lazy" />
          </figure>
        </sl-dialog>

      {% endfor %}
    </div>
    <div class="small-12 medium-6 columns">
      <h3>{{ product.title }}</h3>

      <h4>{{ product.price | times:100 | money }}

        {% unless product.out_of_stock %}
          <check-product-stock sku="{{ product.slug }}">
            {% for cloudinary_id in product.cloudinary_ids limit:1 %}
              {% capture thumbnail %}{{ cloudinary_id | cloudinary_url:'a_exif,c_limit,h_100,q_75,w_100' }}{% endcapture %}
            {% endfor %}
            <button
            class="snipcart-add-item button large"
            data-item-id="{{ product.slug }}"
            data-item-name="{{ product.title }}"
            data-item-price="{{ product.price }}"
            data-item-url="{{ site.url }}{{ product.url }}"
            data-item-max-quantity="1"
            data-item-custom1-name="Flute Care Pack"
            data-item-custom1-options="Not Included|Included +$10[+10.00]"
            {% if product.weight %}
            data-item-weight="{{ product.weight }}"
            {% endif %}
            data-item-image="{{ thumbnail }}">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to Cart
            </button>

            <span slot="locked" style="font-size: 0.9em;opacity: 0.65">
              <em>(temporarily unavailable)</em><br/>
              <small>Check back in a few minutes to see if it's still in stock</small>
            </span>
          </check-product-stock>
        {% else %}
          <em style="font-size: 0.9em;opacity: 0.65">(out of stock)</em>
        {% endunless %}
      </h4>

      {{ product.content }}

      {% if product.html_embed and product.html_embed != '' %}
        <div class="callout"><!-- HTML embed for YouTube, Soundcloud, etc. -->
          {{ product.html_embed }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
